@font-face {
  font-family: 'Main';
  src: url('../../../fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Titles';
  src: url('../../../fonts/Poppins-ExtraBold.ttf') format('truetype');
}
