.reservation {
  background-color: #e4e5e9;
  width: 90%;

  @extend %flex-parent;

  overflow-x: scroll;
  align-items: start;

  @include small-down {
    width: 100vw;
    height: 100vh;
  }

  &__list {
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-columns: minmax(300px, 1fr);
    grid-auto-flow: column;
    position: relative;
    margin: 0 200px;
    overflow-y: hidden;

    @include small-down {
      margin: 0;
      grid-template-rows: 100vh;
      grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
      grid-auto-columns: minmax(50vw, 1fr);
    }

    @include extra-small-down {
      margin: 0;
      grid-template-rows: 100vh;
      grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
      grid-auto-columns: minmax(100vw, 1fr);
    }
  }

  &__arrow {
    width: 0;
    height: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;

    &:nth-child(odd) {
      flex-direction: column-reverse;
      background-color: #c54f65;

      .reservation__arrow {
        @extend %arrows-down;

        border-top-color: #c54f65;

        @include extra-small-down {
          margin-left: 48vmin;
          margin-bottom: 48.5vh;
        }

        @include small-down {
          margin-bottom: 48.5vh;
          align-self: center;
          margin-left: 0;
        }
      }
    }

    &:nth-child(2n) {
      background-color: #ffc600;

      .reservation__arrow {
        @extend %arrows-up;

        border-bottom-color: #ffc600;

        @include small-down {
          margin-left: 0;
          margin-top: 48.5vh;
          align-self: center;
        }
      }
    }

    &:nth-child(5n) {
      background-color: #252525;

      .reservation__arrow {
        @extend %arrows-down;

        border-top-color: #252525;
      }
    }

    &:nth-child(4n) {
      background-color: #10bbb5;

      .reservation__arrow {
        @extend %arrows-up;

        border-bottom-color: #10bbb5;
      }
    }

    &:nth-child(6n) {
      background-color: #99c110;

      .reservation__arrow {
        @extend %arrows-up;

        border-bottom-color: #99c110;
      }
    }
  }

  &__trash {
    width: 40px;
    margin-top: 25px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.3);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__item {
    height: 300px;

    @extend %flex-parent;

    & > * {
      color: white;
    }

    @include small-down {
      height: 50vh;
    }
  }

  &__image {
    width: 300px;
    height: 300px;

    @include small-down {
      width: 50vw;
      height: 50vh;
    }

    @include extra-small-down {
      width: 100vw;
    }
  }
}

.empty {
  text-align: center;
  padding-top: 25vh;
  opacity: 45%;

  @include small-down {
    padding-top: 45vh;
  }
}
