.reserve__container {
  background-color: $reservation-bg;
  width: 90%;

  .reserve__bg {
    width: 70vw;
    height: 100vh;
    position: absolute;
    opacity: 8%;

    @include small-down {
      width: 100vw;
      height: 100vh;
    }
  }
}

.reserve {
  width: 100%;
  z-index: 20;
  height: 100vh;
  @extend %flex-parent;
  padding-bottom: 75px;
  position: relative;

  @include small-down {
    width: 70%;
    margin-left: 15%;
    text-align: center;
  }

  & > *, 
  .reserve__label,
  .reserve__button,
  .reserve__input {
    color: $input_bg;
  }

  .reserve__title {
    @extend %title-font;
  }

  .reserve__control {
    margin-bottom: 15px;
    @extend %flex-parent;

    .reserve__label {
      margin-right: 10px;
    }

    .input__number {
      width: 60px;
    }

    .reserve__input {
      border: 1px white solid;
      padding: 5px;
      border-radius: 15px;
    }
  }

  .reserve__button {
    margin-top: 30px;
    background-color: $input_bg;
    color: $reservation-bg;
    border: solid $reservation-bg 1px;
    border-radius: 15px;
    padding: 10px;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      background-color: $reservation-bg;
      color: $input_bg;
      border: $input_bg solid 1px;
    }
    &:focus {
      background-color: $input_bg;
      color: $reservation-bg;
      border: $reservation-bg solid 1px;
    }
  }

  .reserve__separator {
    width: 500px;
    height: 2.5px;
    background-color: $separator-form;
    margin: 25px 0;
  }
}

.errors {
  color: red;
}

.success {
  color: blue;
  margin: 10px 0;
}
