* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  color: black;
  box-sizing: border-box;
  border-radius: 0;
  background-color: transparent;
  font-family: 'Main';
  font-size: medium;
  font-weight: 300;
  overflow-x: hidden;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
